body{ 
    background:#333;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mybold {
    font-family: newJuneBold;
}

.mybook{
    font-family: newJuneBook;
}

.box-content {
    background: #F2F2F2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 10px;
}

.bg {
    background: #292C37;
}

.label-acessorios {
    cursor: pointer;
}

.check-acessorios {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 25px;
    top: 5px;
    cursor: pointer;
}

.check-acessorios:checked + label .thumbnail {
    border: 3px #54AF54 solid;
}

.ui-state-error, 
.ui-widget-content 
.ui-state-error, 
.ui-widget-header 
.ui-state-error {
    border: 1px solid #cd0a0a !important;
}

.form-signin {
    max-width: 800px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form-signin .form-control:focus {
    z-index: 1;
}
.form-signin .form-control {
    position: relative;
}

.check-concessionaria {
    position: absolute;
    top: 5px;
    left: 25px;
    height: 20px;
    width: 20px;
}

/*
.ui-paginator-top, 
.ui-datatable-footer,
.ui-paginator-bottom{
    background: #F5F5F5;
}
*/

.ui-column-title {
    font-size: 13px;
}

th .ui-state-default {
    border: 0;
}

#form-cadastro .ui-widget-content {
    background: #F5F5F5;
}

#form-cadastro .ui-panel-title {
    text-transform: uppercase;
}
