#titulo-cadastro{
    text-align: center;
}

#img-home{
    text-align: center;
}

#grid-home{
    text-align: center;
}

.container-principal{
    font-size: 12px;
}

#topo{
    font-size: 13px;
}

.ui-panel-title, .ui-datatable-header {
    text-transform: uppercase;
}

.text-default, .ui-menuitem-link {
    font-size: 14px !important;
    font-weight: normal !important;
}

.ui-panel-title, .ui-datatable-header {
    font-size: 20px;
}

.nav-menu, .ui-datatable, .ui-panel  {
    margin: 10px auto;
}

.nav-menu, .ui-datatable  {
    width: 1024px;
}
.ui-panel {
    width:1015px;
}

.ui-button-text {
    font-weight: bold;
}
   
body {
    background: #F2F2F2;
}
